{% extends 'auth/profile/dash.html' %}
{% block dash_component %}
<style>
    body {
        background-color: #f4f4f4
    }

    .newsletter-subscribe {
        color: #313437;
    }

    .newsletter-subscribe form {
        justify-content: center;
    }

    .newsletter-subscribe form .form-control {
        background: #eff1f4;
        border: none;
        border-radius: 3px;
        box-shadow: none;
        outline: none;
        color: inherit;
        text-indent: 9px;
        height: 45px;
        margin-right: 10px;
        min-width: 250px;
    }

    .newsletter-subscribe form .btn {
        padding: 16px 32px;
        border: none;
        box-shadow: none;
        text-shadow: none;
        opacity: 0.9;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 13px;
        letter-spacing: 0.4px;
        line-height: 1;
    }

    .newsletter-subscribe form .btn:hover {
        opacity: 1;
    }

    .newsletter-subscribe form .btn:active {
        transform: translateY(1px);
    }
</style>

<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class=" card col-md-3 bg-light">
            <div class="mt-3 row newsletter-subscribe">
                <div class="">
                    <form action="/book/register" class="form-inline row form" method="POST">
                        <div class="form-group col-md-12 mb-2">
                            <input value="" required class="form-control" autofocus type="text" name="isbn"
                                placeholder="ISBN du livre">
                        </div>
                        <div class="form-group col-md-12 mb-2">
                            <input value="" required class="form-control" type="text" name="titre"
                                placeholder="Titre du livre">
                        </div>
                        <div class="form-group col-md-12 mb-2">
                            <input value="" required class="form-control" type="text" name="auteur"
                                placeholder="Auteur(s)">
                        </div>
                        <div class="form-group col-md-12 mb-2">
                            <input value="" required class="form-control" type="text" name="edition"
                                placeholder="Edition">
                        </div>
                        <div class="form-group col-md-12 mb-2">
                            <input value="" min="0" required class="form-control" type="number" name="nbexemplar"
                                placeholder="Nombre d'exemplaires">
                        </div>
                        <div class="form-group col-md-12 mb-2">
                            <input value="" required class="form-control" type="text" name="category"
                                placeholder="Categorie">
                        </div>
                        <div class="form-group col-md-12 mb-2">
                            <input pattern="(?:19|20)[0-9]{2}" required value="" class="form-control" type="text" name="year"
                                placeholder="Année de parution">
                        </div>
                        <input class="col-md-12 btn btn-outline" type="submit" value="Enregistrer">
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-5 offset-md-4">
                            <input type="text" class="text-muted form-control form-input" name="q"
                                placeholder="ex: Python pour la Datascience">
                            <hr>
                        </div>
                    </div>
                    <div class="col-md-12 offset-1">
                        <div class="card-box">
                            <div class="table-responsive">
                                {% if books != 'NBF' %}
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>ISBN</th>
                                            <th>Titre</th>
                                            <th>Edition</th>
                                            <th>Auteur(s)</th>
                                            <th>Categorie</th>
                                            <th>Nb d'exemplaires</th>
                                            <th>Actions</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for book in books %}
                                        <tr>
                                            <td>{{book.isbn}}</td>
                                            <td>{{book.title}}</td>
                                            <td>{{book.edition}}</td>
                                            <td>{{book.author}}</td>
                                            <td>{{book.category}}</td>
                                            <td>{{book.nbExemplar}}</td>
                                            <td>
                                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                                    <label onclick="document.location.href = '/book/delete/{{book.isbn}}'"
                                                        class="btn btn-secondary">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                            fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                            <path
                                                                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                                            <path fill-rule="evenodd"
                                                                d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                                                        </svg>
                                                    </label>
                                                    <label  onclick="document.location.href = '/book/update/{{book.isbn}}'"
                                                        class="btn btn-secondary">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                            fill="currentColor" class="bi bi-pencil"
                                                            viewBox="0 0 16 16">
                                                            <path
                                                                d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                                                        </svg>
                                                    </label>
                                                    <label class="btn btn-secondary">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                            fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                                                            <path
                                                                d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" />
                                                            <path
                                                                d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" />
                                                        </svg>
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                       
                                        {% endfor %}

                                    </tbody>
                                </table>
                                {% else %}
                                <div class="alert alert-dark" role="alert">
                                    Aucun Livre dans la biliothèque veuillez en ajouter
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock dash_component %}